body {
width: 38%;
margin: 0 auto;   
background-image: url(../images/background2.jpg);
/* Photo by Jonny Lew from Pexels */
background-repeat: no-repeat; 
background-attachment: scroll;
background-size: cover;
color: #666666;
text-align: center;
}

#title {
	background-color: #dd99ff;
	height: 100px;
	width: 530px;
	margin-bottom: 10px;
	font-size: 60px;
	text-align: center;
	padding-top: 30px;
}

#instructions {
	background-color: #dd99ff;
	width: 500px;
	font-size: 17px;
	margin-bottom: 10px;
	padding: 15px;
}

#computer-number {
	background-color: #dd99ff;
	font-size: 23px;
	width: 150px;
	height: 115px; 
	text-align: center;
	margin-left: 41px;
	margin-bottom: 10px;
	display: inline-block;
	padding-top: 35px;
}

#crystal-collector-score {
	background-color: #dd99ff;
	font-size: 23px;
	width: 150px;
	height: 115px;
	display: inline-block;
	text-align: center;
	padding-top: 35px;
}

#score-board {
	background-color: #dd99ff;
	height: 50px;
	width: 100px;
	padding-top: 15px;
	display: inline-block;
}

.crystal-images {
	width: 150px;
	height: 150px;
	margin: 10px;
}
#contianer {
	width: 500px;
}
#images {
	margin-left: 33px;
}
footer {
    width: 1280px;
    background-color: #dd99ff;
    text-align: center;
	padding: 29px 0px;
	margin-left: -397px;
	margin-top: 10px;
	font-size: 25px;
}